version: '3.9'
services:
  mongo:
    image: mongo:7
    ports: ["27017:27017"]
    volumes: ["mongo_data:/data/db"]
  redis:
    image: redis:7-alpine
    ports: ["6379:6379"]
  backend:
    build: ./backend
    environment:
      MONGODB_URI: mongodb://mongo:27017/cinema
      REDIS_HOST: redis
      REDIS_PORT: 6379
      JWT_SECRET: change-me-super-secret-key-change-me-super-secret-key
    ports: ["8080:8080"]
    depends_on: [mongo, redis]
  frontend:
    build: ./frontend
    environment:
      VITE_API_URL: http://localhost:8080
    ports: ["5173:5173"]
    depends_on: [backend]
volumes:
  mongo_data:
